$primary: #070707;
$dark: $primary;
$text-color: #ffffff;
$selection-color: #ffffff70; //44% opacity
$input-color: #d9d9d9b3; // 70%
$cancel-color: #f91717;
$outline-color: #787f29;

$custom-colors: (
  "text-color": $text-color,
  "selection-color": $selection-color,
  "input-color": $input-color,
  "cancel-color": $cancel-color,
  "outline-color": $outline-color,
);

@import "../node_modules/bootstrap/scss/functions.scss";
@import "../node_modules/bootstrap/scss/variables.scss";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
