//change default font-family

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src: url("./assets/fonts/Inter-VariableFont.ttf") format("truetype");
}
@font-face {
  font-family: "InterBold";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Inter-VariableFont.ttf") format("truetype");
}
$font-family-sans-serif: "Inter";

//change default color variables

$primary: #070707;
$dark: $primary;
$text-color: #ffffff;
$selection-color: #ffffff70; //44% opacity
$input-color: #d9d9d9b3; // 70%
$cancel-color: #f91717;
$outline-color: #787f29;

$custom-colors: (
  "text-color": $text-color,
  "selection-color": $selection-color,
  "input-color": $input-color,
  "cancel-color": $cancel-color,
  "outline-color": $outline-color,
);

@import "../node_modules/bootstrap/scss/functions.scss";
@import "../node_modules/bootstrap/scss/variables.scss";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $primary;
}

.container-fluid {
  height: 100vh;
}

.container-fluid > .row {
  height: 100%;
}

.table-container {
  height: 350px;
  overflow-y: auto;
  scrollbar-color: $selection-color transparent;
  scrollbar-width: thin;
}

.tbody-wrapper::-webkit-scrollbar {
  width: 3px;
}

.tbody-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.tbody-wrapper::-webkit-scrollbar-thumb {
  background: $selection-color;
}

.tbody-wrapper th {
  color: $primary;
}

.product-details-table {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  word-wrap: break-word;

  & th:first-child {
    width: 170px;
  }

  & input {
    width: 100%;
  }
}

input {
  border-radius: 5px;
}

input:focus {
  outline: 2px solid $outline-color;
  box-shadow: none;
}

.search-bar {
  height: 40px;
}

.product-taskbar button {
  width: 75px;
  aspect-ratio: 1 / 1;
}

button:hover:not(.not-hover) {
  transform: scale(0.95);
  transition: all 0.3s;
}
button:hover:not(.not-hover) > * {
  color: $selection-color !important;
}
.logo {
  width: 170px;
}

.custom-modal {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-dialog {
  opacity: 1;
  padding: 20px 40px;
  background-color: rgb(225, 223, 223);
  border-radius: 10px;
  font-family: "InterBold";
  transition: all 1s 2s linear;
}

.custom-modal.custom-fade .custom-modal-dialog {
  opacity: 0;
  transform: translateY(30px);
  background-color: $cancel-color;
}

@include media-breakpoint-down(md) {
  .logo {
    width: 250px;
    margin-bottom: 30px;
  }
  .search-bar {
    height: 35px;
  }
}
