//change default font-family

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

$font-family-sans-serif: "Inter", sans-serif;

//change default color variables

$primary: #070707;
$dark: $primary;
$text-color: #ffffff;
$selection-color: #ffffff70; //44% opacity
$input-color: #d9d9d9b3; // 70%
$cancel-color: #f91717;
$outline-color: #787f29;

$custom-colors: (
  "text-color": $text-color,
  "selection-color": $selection-color,
  "input-color": $input-color,
  "cancel-color": $cancel-color,
  "outline-color": $outline-color,
);

@import "../node_modules/bootstrap/scss/functions.scss";
@import "../node_modules/bootstrap/scss/variables.scss";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $primary;
}

.container-fluid {
  height: 100vh;
}

.container-fluid > .row {
  height: 100%;
}

.tbody-wrapper {
  height: 350px;
  overflow-y: auto;
  scrollbar-color: $selection-color transparent;
  scrollbar-width: thin;
}

.tbody-wrapper::-webkit-scrollbar {
  width: 3px;
}

.tbody-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.tbody-wrapper::-webkit-scrollbar-thumb {
  background: $selection-color;
}

.tbody-wrapper th {
  color: $primary;
}

input {
  border-radius: 5px;
}

input:focus {
  outline: 2px solid $outline-color;
  box-shadow: none;
}

.search-bar {
  height: 40px;
}

@include media-breakpoint-down(md) {
  .search-bar {
    height: 35px;
  }
}
